.main{
    height: 500px;
    width: 400px;
    background: url("./todobg1.jpg");
    /* border: 1px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    background-color: rgb(14, 14, 14);
}

input::placeholder {
    color: rgb(111, 107, 107);
    font-size: 1.5em;
    font-style: italic;
   
  }
  input{
      padding-top: 8px;
       width:95%;
    height: 30px;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }